.avatar.proportioned {
    width: 300px;
    height: 300px;
}

.avatar.distorted {
    width: 200px;
    height: 400px;
}

/* .container p  */
/* .container > p  */
/* div p  */    
/* div .text */
.container .text{
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}